.main-container-cart{
    width: 80%;
    max-width: 800px;
    padding:50px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
}

.header-container-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-container-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.empty-cart-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

