.main-container-cart{
    width: 100%;
    max-width: 900px;
    padding:50px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
}

.header-container-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-container-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

