.main-container{
    width: 100%;
    max-width: 1200px;
    
}
.sub-container{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background-color: #ffd92e;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    justify-content: center;
    border-radius: 5px;
}
.figure-img{
    max-width: 500px;
}
.info-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    
}