.form-container{
    background-color: hsl(206, 100%, 94%);
    padding: 30px;
    border-radius: 5px;
}
.form-f{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-f input::placeholder{
    color: rgb(76, 76, 76);
    border: none;
}

.form-f input{
    border: none;
}
.form-f button{
    width: 100%;
}