.item-container-cart{
   
    border-radius: 5px;
    background-color: #ffd92e;
    width: 100%;
    padding:15px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}